/* =============== Common --------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi ph?c c? ch? m?c ð?nh tính theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 41px;
  line-height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  opacity: 0.9;
}
/* =============== Header ==================== */
.header {
  background: #fff;
  /* background-color: green; */
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .body {
  padding: 52px 0 8px;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #2f3a3b;
  padding: 8px 19.5px;
}

.action .action-link:hover,
.nav a:hover {
  color: #2f3a3b;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.action .action-link {
  margin-left: 157.5px;
  color: #494949;
  text-align: center;
}

.action .action-btn {
  margin-left: 24px;
  display: inline-block;
  padding: 0 16px;
  min-width: 108px;
  line-height: 46px;
  color: #1ebfc1;
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  text-decoration: none;
}

.action .action-btn:hover {
  background: #1ebfc1;
  color: white;
  transition: 0.3s;
}

/* =============== Hero left ==================== */
.hero {
  padding: 35px 0 57px;
  /* background-color: aquamarine; */
}
.hero .body {
  display: flex;
}

.hero .content-block {
  margin-top: 97px;
}

.hero .content-block .sub--title {
  color: #767e7e;
  font-size: 1.4rem;
}

.hero .content-block .sub--desc {
  display: inline-block;
}

.hero .content-block .title {
  margin-top: 18px;
  max-width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .content-block .desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
  margin-bottom: 52px;
}

.hero .cta-group .btn {
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  width: 186px;
  height: 68px;
  flex-shrink: 0;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  /* padding: 20px 41px 21px; */
  min-width: 186px;
}

.hero .cta-group {
  display: flex;
}

.hero .cta-group .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1111;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .cta-group .play-video:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* =================== Hero right =========================== */
.hero .media-block .media {
  width: 576px;
  height: 631px;
  flex-shrink: 0;
  margin-left: 136px;
  margin-top: 62px;
  object-fit: cover;
}

.hero .media-block {
  position: relative;
}

.hero .media-block .media-course {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 187px;
  left: 63px;
  width: 175px;
  height: 75px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border: 1px solid rgb(94 138 226);
}

.media-course .course-icon {
  border-bottom: 1px solid #fff;
  margin: 17px 16px 18px 25px;
}

.media-course .detail span {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero .media-course::after {
  position: absolute;
  top: 45px;
  left: 29px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}

.hero .media-schedules {
  position: absolute;
  top: 507px;
  left: 81px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(94 138 226);
}

.hero .media-schedules span {
  display: inline-block;
  margin: 16px 35px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
.hero .media-block .schedules-icon {
  margin: 16px 25px 0;
  display: block;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero .media-schedules .icon-4 {
  margin: 16px 49px auto;
  text-align: center;
  width: 26px;
  height: 6px;
}

.avatar-block {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 207px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  margin-right: 45px;
  margin-bottom: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgb(94 138 226);
}

.hero .avatar-block .avatar {
  margin-top: 6px;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 33px;
}

.hero .avatar-block .detail {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin: 15px 30px 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .avatar-block .ava-list {
  position: relative;
}

.hero .avatar-block .avar-more {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  background-color: #1ebfc1;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.avatar-block .ava-list {
  margin-left: 10px;
  margin-bottom: 10px;
}

.avatar-block .avar-more .sub {
  position: absolute;
  right: 3px;
  bottom: 10px;
}
